{
  "env": {
    "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "1"
  },
  "permissions": {
    "defaultMode": "bypassPermissions"
  },
  "language": "russian",
  "skipDangerousModePermissionPrompt": true,
  "effortLevel": "high"
}
